@import '../variables';
h4 {
  text-align: right;
}
nav {
  overflow-y: auto;
  /* momentum scrolling */
  -webkit-overflow-scrolling: touch;
  max-height: 20vh;
  margin: 0 auto 22px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      padding: 10px;
      margin: 10px;

      button {
        background: transparent;
        border: 0;
        background: $color-surface;
        margin-right: 10px;
        cursor: pointer;
        width: 100%;
        padding: 22px;
        color: $color-text-primary;
        display: flex;

        &.active {
          border-left: 8px solid $color-focus-ring;
        }

        > div {
          padding: 0 22px;
          flex: 1;
        }

        .poster {
          flex: 0 0 43%;
          padding: 0;

          > img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
