nav {
  overflow-y: auto;
  /* momentum scrolling */
  -webkit-overflow-scrolling: touch;
  max-height: 20vh;
  margin: 0 auto 22px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      padding: 10px;
      margin: 10px;

      button {
        background: transparent;
        border: 0;
        background: #fff;
        margin-right: 10px;
        cursor: pointer;
        width: 100%;
        padding: 22px;
        color: #000;

        &.active {
          border-bottom: 3px solid #000;
        }
      }
    }
  }
}
